# Licensed under the Apache License: http://www.apache.org/licenses/LICENSE-2.0
# For details: https://bitbucket.org/ned/coveragepy/src/default/NOTICE.txt

# MANIFEST.in file for coverage.py
recursive-include coverage/ctracer *
recursive-include coverage/fullcoverage *
recursive-include coverage/htmlfiles *

include coverage.egg-info/*.*
include setup.py
include __main__.py
include README.txt
include CHANGES.txt
include AUTHORS.txt
include requirements.pip
include igor.py
include tox.ini

recursive-include tests *
recursive-include doc *.rst
global-exclude *.pyc
