# MANIFEST.in file for coverage.py
recursive-include coverage/htmlfiles *
recursive-include coverage/fullcoverage *

include coverage.egg-info/*.*
include setup.py
include __main__.py
include README.txt
include CHANGES.txt
include AUTHORS.txt
include requirements.txt
include igor.py
include tox.ini

recursive-include tests *
recursive-include doc *.rst
global-exclude *.pyc
