{# Licensed under the Apache License: http://www.apache.org/licenses/LICENSE-2.0 -#}
{# For details: https://github.com/nedbat/coveragepy/blob/master/NOTICE.txt -#}
{# This file is for use with scriv to create GitHub releases. -#}
{{body}}

:arrow_right:&nbsp; PyPI page: [coverage {{version}}](https://pypi.org/project/coverage/{{version}}).
:arrow_right:&nbsp; To install: `python3 -m pip install coverage=={{version}}`
