# Licensed under the Apache License: http://www.apache.org/licenses/LICENSE-2.0
# For details: https://github.com/nedbat/coveragepy/blob/master/NOTICE.txt

name: "Quality"

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  lint:
    name: "Pylint etc"
    # Because pylint can report different things on different OS's (!)
    # (https://github.com/PyCQA/pylint/issues/3489), run this on Mac where local
    # pylint gets run.
    runs-on: macos-latest

    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v2"

      - name: "Install Python"
        uses: "actions/setup-python@v2"
        with:
          python-version: "3.8"

      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install -c requirements/pins.pip tox

      - name: "Tox lint"
        run: |
          python -m tox -e lint

  doc:
    name: "Build docs"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v2"

      - name: "Install Python"
        uses: "actions/setup-python@v2"
        with:
          python-version: "3.8"

      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install -c requirements/pins.pip tox

      - name: "Tox doc"
        run: |
          python -m tox -e doc
